{% extends 'base.html' %}
{% block title %}关于我们{% endblock %}
{% block content %}
<div class="container">
    <div class="eskimo-page-title w-100">
        <h1 class="no-border">四川农业大学信息工程学院</h1>
    </div>
    <div class="card text-left">
        <div class="card-body">
            <h6 class="card-text"> 
                &nbsp;四川农业大学信息工程学院位于雅安校本部，其前身是1985年成立的校实验中心计算机室，1995年并入新成立的工程技术学院；2002年更名为信息与工程技术学院；
                2014年3月，学校组建信息工程学院。
                信息工程学院现设计算机科学、信息工程、物联网工程3个系；农业信息工程、农业工程与信息技术2个硕士专业，计算机科学与技术、信息管理与信息系统、物联网工程3个本科专业及计算机科学与技术1个职教本科专业类别；1个四川省高等学校重点实验室，1个实验教学示范中心，2个校内实践实训基地；教学实验用房总面积3038平方米，现有小型机、云服务器、电子计算机和各类实验平台等仪器设备1674台件，可开展本科及研究生教育的各类软硬件课程实验教学、实习实践和科学研究工作，覆盖农业信息工程、计算机科学与技术、物联网工程、信息管理与信息系统等多个学科专业。学院现有教职工82人，其中专任教师69人，高级职称人员13人；在校本科生2167人，研究生22人，专科生24人，共计2213人。
                学院将创新创业纳入教育教学整体发展规划中，贯穿本科人才培养全过程，切实加强学生科技创新能力培养和综合素质提高，增强学生创新实践能力。2015年以来，学院61名本科生被国内211、985工程优势学科创新平台、985高校及国外高校录取为硕士研究生；学院推免生2018届21名、2019届23
                名全部进入985或211高校深造。</h6>
        </div>
    </div>
</div>
{% endblock %}